---
import CardLaunch from '@/components/CardLaunch.astro'
import Layout from '../../layouts/Layout.astro'
import { getLaunchBy } from '../../services/spacex'

interface Props {
  id: string
}
const { id } = Astro.params

let launch = null
if (!id) throw new Error('No id provided')
//  console.log(id)
if (id.length > 10) launch = await getLaunchBy({ id })
---

<Layout title='id'>
  {
    launch == null ? (
      <h1>Launch not found</h1>
    ) : (
      <div class='mx-auto max-w-sm pb-4'>
        <CardLaunch
          id={launch.id}
          img={launch.links.patch.small}
          success={launch.success}
          flightNumber={launch.flight_number}
          details={launch.details}
        />
      </div>
    )
  }
</Layout>
